h1{
     color:green;
     background-color:rgb(116, 184, 226);
    }
p{
    color:orange;
    background-color:rgb(179, 207, 107);
            
     }
button{
        background-color:rgb(0, 0, 0);
        color:rgb(255, 255, 255);
         
    }